.c-movie-container {
  width: 250px;
  margin: 22px 25px;
  display: flex;
  position: relative;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;

  &:after {
    content: '';
    z-index: 10;
    width: 200%;
    height: 100%;
    top: -90%;
    left: -20px;
    opacity: 0.1;
    transform: rotate(45deg);
    background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
    transition: 0.3s;
  }

  &:hover {
    position: relative;
    box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
    transform: translateY(-3px) scale(1.05) rotateX(15deg);
  }

  &__poster {
    width: 100%;
    height: 100%;
    min-height: 375px;
    margin: 0 auto;
    position: relative;

    &:hover + .data {
      background: rgba(255, 255, 255, .8);
      position: absolute;
      bottom: 0;
      width: 100%;
      visibility: visible;
      font-size: 20px;
      color: #000;
      padding: 5px;
    }
  }

  &__rate {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    background: $rating-background;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '8.2';
    font-weight: bold;
    z-index: 1000;
  }
}

.data {
  visibility: hidden;

  &__language {
    margin-top: 5px;
    font-size: 15px;
    color: #000;
  }
}