.s-movies {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $container-lg;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;

    &__item {
      flex: 1;
      display: inline-block;

    }
}