.s-header {
  background: $header-background;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    align-items: center;
    width: $container-lg;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;


    &--title {
      align-self: center;
      font-size: 40px;
      color: $header-color;
      flex: 1;
      min-width: 250px;
    }

    &--search {
      background: #fff;
      border: none;
      border-radius: $border-radius;
      max-width: 450px;
      height: 40px;
      padding: 0 10px;
      font-size: 15px;
      outline: none;
      flex: 2;
    }
  }
}