.s-movies {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $container-lg;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;

  @media only screen and (max-width: $tablet) {
    width: 100%;
    margin: 0;
    padding: 0;
  }

    &__item {
      flex: 1;
      display: inline-block;

      @media only screen and (max-width: $phone) {
        flex: none;
        width: 100%;
        display: block!important;
      }

    }
}