//Backgrounds
//$background: linear-gradient(to right, rgb(6, 190, 182), rgb(72, 177, 191));
//$header-background: #2d767f;
//$rating-background: #b4f1f1;

$background: #EFEFEF;
$header-background: #333;
$rating-background: #cdcdcd;

//Font colors
$header-color: #fff;
$load-more-button-color: #fff;


