//Base
@import "scss/base/1-reset",
        "scss/base/2-fonts",
        "scss/base/3-colors",
        "scss/base/4-z_indexes",
        "scss/base/5-breakpoints",
        "scss/base/6-layout-grid",
        "scss/base/7-containers",
        "scss/base/8-mixins",
        "scss/base/9-globals.scss",
        "scss/base/10-body";

//Default


//Sections
@import "scss/sections/section-main",
        "scss/sections/section-header",
        "scss/sections/section-footer";

//Components
@import "scss/components/movie-container",
        "scss/components/show-movie",
        "scss/components/roulette-modal";

//Layout
@import "scss/layout/grid",
        "scss/layout/containers";